html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-top: 40px;
    
    padding-bottom: 40px;
    background: url(/img/bglogin8.jpg);
    background-size: cover;
}

.login-box {
    border-radius: 10px;
    width: 400px;
    background: rgba(121, 91, 148, 0.742);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-floating {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* .container {
    width: 400px;
    height: 550px;
    background-color: #f5f5f5;
    border-radius: 10px;
} */

.input-group {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.33);
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

.container{
    color: white;
}

btn{
    color: white;
}