@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Navbar */
body {
    overflow: visible;
}

.nav-link {
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 32px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 32px;
}

.nav-link:hover:after {
    content: "";
    display: block;
    border-bottom: 3px solid #ffff;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.btn-login {
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #ffff;
    border: none;
}

.btn-login:hover {
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-area {
    max-height: 590px;
}

.head-title {
    margin-top: 230px;
    text-transform: uppercase;
}

.logo-home {
    margin-top: 90px;
}

.waves {
    z-index: -100;
}

.text-justify {
    text-align: justify;
}

.logo-about {
    /* margin-top: -50px; */
    margin-left: 70px;
}

.size-icon {
    font-size: 80px;
    color: #0d6efd;
}

#integral img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.index-post {
    width: 1124px; transition: all 1.5s;
    height: 364px; overflow: hidden; 
    margin: auto;
    display: block;
    margin-top: 10%;
}

.shadow {
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
}

.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    border: solid 1.5px rgb(138, 8, 8);
    display: flex;
}


@media screen and (max-width:1124px){
    .hero-area {
        max-height: 1124px;
    }
}

@media screen and (max-width:562px){
    .container-card{
        margin: 0px 50px;
        padding: 30px 30px;
    }

    .card {
        padding: 10px;
    }
    .home-margin {
        margin-top: -140px;
        text-align: justify;
    }
    .m-img {
        margin-top: 40px;
        justify-content: center;
    }
}


