@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Navbar */
html {
    scroll-padding-top: 185px;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fafafa;
}

/* ==== navbar ==== */
.nav-link {
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 32px;
}

.btn-login {
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #ffff;
    border: none;
}

.btn-login:hover {
    background-color: #0B0B45;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ==== end navbar ==== */

/* ==== hero area ==== */
.hero-area {
    max-height: 590px;
}

.head-title {
    /* margin-top: 230px; */
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.waves {
    z-index: -100;
}

.text-justify {
    text-align: justify;
}

.logo-about {
    /* margin-top: -50px; */
    /* margin-left: 70px; */
}

.size-icon {
    font-size: 80px;
    color: #0B0B45;
}

#integral img {
    width: 100px;
    height: 100px;
    margin: auto;
}
.index-post {
    width: 1124px;
    transition: all 1.5s;
    height: 364px;
    overflow: hidden;
    margin: auto;
    display: block;
    margin-top: 10%;
}

.shadow {
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
}

.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    border: solid 1.5px rgb(138, 8, 8);
    /* display: flex; */
}

.logo-home {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.logo-about {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    margin-left: 80px;
}

.bg-navy {
    background-color: #0B0B45;
}

.text-navy {
    color:#0B0B45 ;
}

.ml-logo-about {
    margin-top: 30px;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}


@media screen and (max-width: 1124px) {
    .hero-area {
        max-height: 1124px;
    }
}

@media screen and (max-width: 1124px) {
    .hero-area {
        max-height: 1124px;
    }
}

@media screen and (max-width: 562px) {
    .container-card {
        margin: 0px 50px;
        padding: 30px 30px;
    }

    .card {
        padding: 10px;
    }
    .home-margin {
        margin-top: -140px;
        text-align: justify;
    }
    .m-img {
        margin-top: 40px;
        justify-content: center;
    }
}
